{{< layout }}
{{$ content }}

<h2>ISUxi index</h2>
<div class="row panel panel-primary" id="prof">
  <div class="col-md-12 panel-title" id="prof-nickname">{{nick_name}}</div>
  <div class="col-md-12"><a href="/profile/<%= @user[:account_name] %>">プロフィール</a></div>
  <div class="col-md-4">
    <dl>
      <dt>アカウント名</dt><dd id="prof-account-name">
        {{ uppercase(user.account_name) }}
      </dd>
      <dt>メールアドレス</dt><dd id="prof-email">
        {{ user.email }}
      </dd>
      <dt>姓</dt><dd id="prof-last-name">
        {{ user.last_name }}
      </dd>
      <dt>名</dt><dd id="prof-first-name">
        {{ user.first_name }}
      </dd>
      <dt>性別</dt><dd id="prof-sex">
        {{ user.sex }}
      </dd>
      <dt>誕生日</dt><dd id="prof-birthday">
        {{ user.birthday }}
      </dd>
      <dt>住んでいる県</dt><dd id="prof-pref">
        {{ user.pref }}
      </dd>
      <dt>友だちの人数</dt><dd id="prof-friends">
      <a href="/friends">
        {{ user.friends_size }}人
      </a>
      </dd>
    </dl>
  </div>

  <div class="col-md-4">
      <div id="entries-title"><a href="/diary/entries/{{ user.account_name }}">あなたの日記エントリ</a></div>
    <div id="entries">
      <ul class="list-group">
        {{# entries }}
          <li class="list-group-item entries-entry"><a href="/diary/entry/{{ id }}">
            {{ title }}
          </a></li>
        {{/ entries }}
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div><a href="/footprints">あなたのページへの足あと</a></div>
    <div id="footprints">
      <ul class="list-group">
        {{# footprints }}
          <li class="list-group-item footprints-footprint">
          {{ updated }} <a href="/profile/{{ account_name }}">{{ nick_name }}さん</a>
          </li>
        {{/ footprints }}
      </ul>
    </div>
  </div>
</div>

<div class="row panel panel-primary">
<div class="col-md-4">
  <div>あなたへのコメント</div>
  <div id="comments">
    {{# comments_for_me }}
    <div class="comments-comment">
      <ul class="list-group">
        <li class="list-group-item comment-owner"><a href="/profile/{{ account_name }}">{{ nick_name }}さん</a>:
        <li class="list-group-item comment-comment">{{ comment }}
        <li class="list-group-item comment-created-at">投稿時刻:{{ created_at }}
      </ul>
    </div>
    {{/ comments_for_me }}
  </div>
</div>

<div class="col-md-4">
  <div>あなたの友だちの日記エントリ</div>
  <div id="friend-entries">
    {{# entries_of_friends }}
    <div class="friend-entry">
      <ul class="list-group">
        <li class="list-group-item entry-owner"><a href="/diary/entries/{{ account_name }}">{{ nick_name }}さん</a>:
        <li class="list-group-item entry-title"><a href="/diary/entry/{{ id }}">{{ title }}</a>
        <li class="list-group-item entry-created-at">投稿時刻:{{ created_at }}
      </ul>
    </div>
    {{/ entries_of_friends }}
  </div>
</div>

<div class="col-md-4">
  <div>あなたの友だちのコメント</div>
  <div id="friend-comments">
    {{# comments_of_friends }}
    <div class="friend-comment">
      <ul class="list-group">
        <li class="list-group-item comment-from-to">
          <a href="/profile/{{ account_name }}">{{ nick_name }}さん</a>から
          <a href="/profile/{{ entry.account_name }}">{{ entry.nick_name }}さん</a>へのコメント:
        <li class="list-group-item comment-comment">{{ comment }}
        <li class="list-group-item comment-created-at">投稿時刻:{{ created_at }}
      </ul>
    </div>
    {{/ comments_of_friends }}
  </div>
</div>
</div>

{{/ content }}
{{/ layout }}
